<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>ENSO dummy tester</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="row page-header">
        <h1>List of screenshots <small data-th-text="${report_date}">taken today</small></h1>
      </div>
        
    </div>
  </body>
</html>
